@model ReporteTransaccionesDetalladas
@{
    ViewData["title"] = "Reporte diario";
}

<partial name="submenu" model="SubmenuTransacciones.Diario"/>

<partial name="ReportesTransaccionesDetalladas" model="Model"/>
<div class="mb-3">
    <a asp-action="Crear" class="btn btn-primary">Crear una nueva transacción</a>
</div>

